body {
    background-image: url('/backgound.jpeg');
    filter: grayscale(0.6%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    justify-content: center;
    text-align: center;
    width: 100%;
   
}

.hero_title {
  color: white;
}

.subheadings {
    color: white;
    text-align: center;
}

.verse-container {
    padding-left: 200px;
    width: 70%;
    color: white;
    font-size: 22px;
}

.logo {
    color: white;
    align-self: center;
    font-size: larger;
}
